/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
}

/* Centering and styling the main container */
.home-page {
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

/* Input styles */
.url-input {
  width: 360px;
  padding: 10px 15px;
  font-size: 1rem;
  border: 2px solid #ddd;
  border-radius: 5px;
  margin-bottom: 15px;
  transition: border-color 0.3s ease;
}

.url-input:focus {
  border-color: #007bff;
  outline: none;
}

/* Button styles */
.go-button {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.go-button:hover {
  background-color: #0056b3;
}

.go-button:active {
  background-color: #003f7f;
}

.error {
  color: red;
}

#suggestionsList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  background-color: white;
  width: 400px;
}

#suggestionsList li {
  padding: 8px;
  cursor: pointer;
}

#suggestionsList li:hover {
  background-color: #f0f0f0;
}

.selected {
  background-color: #1affff; /* Highlight color */
  color: black; /* Change text color for contrast */
}
.current-query {
  font-weight: bold;
  color:rgb(13, 90, 90);
}
.valid {
  color: #222;
  font-weight: 1000;
}
